built-in rules: `response-contains-header` -- force toLowerCase on comparison


RFC2616 section 4.2 indicates all headers are case-insensitive. I believe following the spec will provide consistent behavior for users of this rule. 

https://www.rfc-editor.org/rfc/rfc2616.html#section-4.2


Thank you!